.env
tmp/
bin/
*.exe
/lwts
/cmd
vendor/
web/node_modules/
web/dist/
__pycache__/
.DS_Store
.vite/
*.db
server/tmp/
tf/.terraform/
tf/terraform.tfstate
tf/terraform.tfstate.backup
tf/terraform.tfstate.*
tf/tfplan
